#container {
  border: 1px solid blue;
  padding: 10px;
  margin: 10px;
}
.highlight {
  background: yellow;
}
h2 {
  color: black;
}
tr {
  text-align: center;
}
.person {
  border-bottom: 1px solid grey;
}
